@model Mvc.Identity101.Data.Dto.TestProfileImgDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


<form asp-controller="Member" asp-action="ChangePhoto" enctype="multipart/form-data" method="POST" >
    
    @* <input type="hidden" value="@User.Identity." asp-for="Id"/> *@
    <label>img</label>
    @* accept image/* ne ise yariak bi ogren*@
    <input type="file"  asp-for="img" /> 
    
    <button class="btn btn-warning" type="submit">Onayla </button>
    
</form>

