@model Mvc.Identity101.Data.Dto.UserDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Page</h2>
<h1>@Model.UserName</h1>
<h3>@Model.Email</h3>
<h3>@Model.Phone</h3>
<h3>@Model.Id</h3>


