@model Mvc.Identity101.Data.Dto.ForgotPasswordDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<form asp-controller="Home" asp-action="ForgotPassword" method="post" class="mx-auto" style="max-width: 500px;">
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <h6 class="alert alert-info">Hesabinizin Kayitli oldugu e posta adresini giriniz</h6>
        <label asp-for="Email" class="form-label">E-posta</label>
        <input value="" asp-for="Email" class="form-control" placeholder="email@example.com"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Gonder</button>
    </div>
</form>