@model Mvc.Identity101.Data.Dto.ResetPasswordDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@if (TempData["Message"] != null)
{
    
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog bg-warning">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Reset Password Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["Message"]
                    <div asp-validation-summary="All"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Kapat</button>
                    <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>

    
    

}



<h2>Reset Pw Page </h2>
<form asp-controller="Home" asp-action="ResetPassword" method="post" class="mx-auto">
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UserId"/>
    <input type="hidden" asp-for="Token"/>
    
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Yeni Şifre</label>
        <input asp-for="Password" class="form-control" placeholder="Şifreniz"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Yeni Şifreyi Onayla</label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Şifreyi tekrar girin"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Sifre Sifirla</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            var message = "@TempData["Message"]";
            if (message) {
                var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                modal.show();
            }
        });
    </script>
}
